* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;

  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000;
  transition: background-image 1s ease-in-out;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 8rem;
  margin-bottom: 2rem;
}

.date {
  font-size: 3.5rem;
}

.focus {
  margin-bottom: 2em;
}

.greeting-and-name {
  margin-bottom: 2rem;
  display: flex;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.bg-btn {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}
.bg-btn:hover {
  filter: grayscale(.8);
  cursor: pointer;
}
.bg-btn:active,
.bg-btn:focus {
  outline: 0;
}
.bg-btn:active{
  transform: scale(1.02);
}

.quote-btn {
  flex-shrink: 0;
  position: static;
  margin: 0 0 0 20px;
  width: 30px;
  height: 30px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
}
.quote-btn:hover {
  filter: grayscale(.8);
  cursor: pointer;
}
.quote-btn:active,
.quote-btn:focus {
  outline: 0;
}
.quote-btn:active{
  transform: scale(1.02);
}

.quote {
  margin: 0;
  max-width: 80%;
  display: flex;
  align-items: center;
  background: #eee;
  opacity: .5;
  padding: 1em;
  border-radius: 1em;
  line-height: 1.4;
  color: #000;
}

.weather {
  width: 250px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.weather_city {  
  padding: 10px 0;
  margin: 0 auto;
  background-color: rgba(204, 204, 204, .5);
  border-radius: 5px;
}

.weather_temperature {
  font-size: 35px;
  margin-bottom: 10px;
}

.weather_description {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px 10px;
  color: #ffffff;
  background-color:rgba(68, 170, 221, .6);
  border-radius: 5px;
}

.weather_icon {
  font-size: 80px;
  color: #44aadd;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
