* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;

  text-align: center;
  min-height: 100vh;
  background-size: cover;
  color: #000;
  transition: background-image 1s ease-in-out;
}

.main {
  padding-bottom: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-frame {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background-color: rgba(204, 204, 204, .7);
}

.date_and_time {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

}

.time {
  font-size: 8rem;
  width: 500px;
  text-align: left;
}

.date {
  font-size: 3.5rem;
}

.focus-frame {
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.greeting-and-name {
  padding: 5px 15px;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.focus-q {
  margin-bottom: 5px;
}

.bg-btn {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
  transition: .3s;
}
.bg-btn:hover {
  opacity: .5;
  cursor: pointer;
}
.bg-btn:active,
.bg-btn:focus {
  outline: 0;
}
.bg-btn:active{
  transform: scale(1.02);
}

.quote-btn {
  flex-shrink: 0;
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  transition: .5s;
}
.quote-btn:hover {
  opacity: .5;
  cursor: pointer;
}
.quote-btn:active,
.quote-btn:focus {
  outline: 0;
}
.quote-btn:active{
  transform: scale(1.04);
}

.quote {
  margin: 0;
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  background: #eee;
  opacity: .7;
  padding: 17px;
  padding-right: 65px;
  border-radius: 1em;
  line-height: 1.4;
  color: #000;
}

.quote-text {
  width: 100%;
  text-align: center;
}

.weather {
  width: 250px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(204, 204, 204, .3);
}

.weather_city {  
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: rgba(204, 204, 204, .5);
  border-radius: 5px;
}

.weather_temperature {
  font-size: 35px;
  margin-bottom: 10px;
}

.weather_description {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px 10px;
  color: #ffffff;
  background-color:rgba(68, 170, 221, .6);
  border-radius: 5px;
}

.weather_icon {
  font-size: 80px;
  color: #44aadd;
}

@media (max-width: 1200px) {
  .weather {
    display: block;
    position: static;
    margin-top: 10px;
    margin-bottom: 8vh;
  }
  .main-frame {
    width: 80%;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
  .main {
    padding: 0 5px;
  }
  .bg-btn {
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
  }
  .weather {
    width: 200px;
    margin-bottom: 1em;
  }
  .weather_icon {
    font-size: 50px;
  }
  .weather_temperature {
    font-size: 25px;
  }
  .main-frame {
    width: 99%;
  }
  .date {
    font-size: 30px;
  }
  .time {
    width: 250px;
    font-size: 4rem;
  }
  .date_and_time {
    margin-bottom: 1rem;
  }
  .greeting-and-name {
    margin-bottom: 10px;
  }
  .focus-frame {
    margin-bottom: 10px;
  }
  .quote {
    width: 99%;
    padding: 10px;
    padding-right: 50px;
  }
  .quote-btn {
    right: 5px;
  }
}
